*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/blue-gradient.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 5%;
}

.body-cont{
    background-color: rgba(70, 69, 69, 0.5);
    border-radius: 40px;
    padding: 10px;
}

.navbar-i{
    padding: 0 10px;
}


.logo-i{
    display: flex;
}

.logo-i h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 7px;
    color: rgb(1, 11, 31);
    text-shadow: 2px 3px 10px whitesmoke;
}
.nav-cont{
    display: flex;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar .cont{
    width: 400px;
    border: 1px solid rgb(58, 58, 248);
    padding: 5px 10px;
    border-radius: 40px;
    box-shadow: 4px 4px 10px white;
}

.search-bar input{
    outline: none;
    background-color: transparent;
    border: none;
    width: 70%;
}

.search-bar .icon{
    background-color: transparent;
    border: none;
}

.search-bar .fa-solid{
    border-right: 1px solid;
    padding: 5px;
}

.carousel-item{
    height: 500px;
}

.carousel-item img{
    height: 100%;
    border-radius: 40px;
}